.wpo-protfolio-area-5 {
    background: #08084e;
}
.wpo-protfolio-area-6{
    padding-bottom: 40px;
}

.wpo-protfolio-area-5 .wpo-protfolio-single,
.protfolio-cro-area .wpo-protfolio-single,
.wpo-protfolio-area-6 .wpo-protfolio-single {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 9;
}

.wpo-protfolio-area-5 .wpo-protfolio-single:after,
.protfolio-cro-area .wpo-protfolio-single:after,
.wpo-protfolio-area-6 .wpo-protfolio-single:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    content: "";
    background: #f1f1f1;
    transition: all .3s;
    z-index: 9;
}

.wpo-protfolio-area-5 .wpo-protfolio-single:hover:after,
.protfolio-cro-area .wpo-protfolio-single:hover:after,
.wpo-protfolio-area-6 .wpo-protfolio-single:hover:after {
    width: 100%;
}

.wpo-protfolio-area-5 .protfolio-btn,
.protfolio-cro-area .protfolio-btn,
.wpo-protfolio-area-6 .protfolio-btn {
    text-align: center;
    margin-top: 0;
}

.wpo-protfolio-area-5 .thumb-text,
.protfolio-cro-area .thumb-text,
.wpo-protfolio-area-6 .thumb-text {
    position: absolute;
    right: 10px;
    top: -30%;
    transition: all .6s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.wpo-protfolio-area-5 .thumb-text span,
.protfolio-cro-area .thumb-text span,
.wpo-protfolio-area-6 .thumb-text span {
    font-size: 200px;
    color: #fff;
    font-weight: 700;
    line-height: 190px;
    font-family: 'Conv_Now-Bold';
    z-index: 999;
}

.wpo-protfolio-area-5 .wpo-protfolio-text,
.protfolio-cro-area .wpo-protfolio-text,
.wpo-protfolio-area-6 .wpo-protfolio-text {
    bottom: -50%;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.wpo-protfolio-area-5 .wpo-protfolio-single:hover .wpo-protfolio-text,
.protfolio-cro-area .wpo-protfolio-single:hover .wpo-protfolio-text,
.wpo-protfolio-area-6 .wpo-protfolio-single:hover .wpo-protfolio-text {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.wpo-protfolio-area-5 .wpo-protfolio-single:hover .thumb-text,
.protfolio-cro-area .wpo-protfolio-single:hover .thumb-text,
.wpo-protfolio-area-6 .wpo-protfolio-single:hover .thumb-text {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.wpo-testimonial-area-5 {
    background: #050546;
}

.wpo-contact-area5 {
    background: #08084e;
    padding-bottom: 70px;
}

.wpo-testimonial-area-5 .wpo-testimonial-thumb {
    margin-left: 0;
}

.wpo-testimonial-area-5 .wpo-testimonial-main:before {
    width: 34%;
}

.wpo-testimonial-area-5 .wpo-testimonial-thumb h4 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.wpo-testimonial-area-5 .wpo-testimonial-content {
    text-align: center;
}

.wpo-testimonial-area-5 .wpo-testimonial-thumb span {
    color: #fff;
}

.wpo-contact-area5 .wpo-wpo-contact-form-map .wpo-contact-form {
    background: #08084e;
    border: 1px solid #363458;
}

.wpo-contact-area5 .info-item {
    background: #08084e;
    border: 1px solid #363458;
}

.wpo-contact-area5 .wpo-wpo-contact-form-map form input,
.wpo-contact-area5 .wpo-wpo-contact-form-map form select,
.wpo-contact-area5 .wpo-wpo-contact-form-map form textarea {
    border-bottom: 1px solid #363458;
}


@media(max-width: 1200px) {
    .wpo-about-area-4 .about-s2-img {
        margin-top: 0;
    }

    .wpo-about-area-4 .wpo-about-text {
        padding-top: 60px;
    }
}

@media(max-width: 767px) {

    .wpo-protfolio-area-5 .thumb-text span,
    .wpo-protfolio-area-6 .thumb-text span {
        font-size: 100px;
        line-height: 96px;
    }

    .wpo-hero-style-5 {
        height: 370px;
    }
}

@media(max-width: 530px) {

    .wpo-protfolio-area-5 .wpo-protfolio-text h2,
    .wpo-protfolio-area-6 .wpo-protfolio-text h2 {
        font-size: 25px;
        color: #fff;
    }

    .wpo-protfolio-area-5 .wpo-protfolio-img img,
    .wpo-protfolio-area-6 .wpo-protfolio-img img {
        width: 100%;
        height: 340px;
        object-fit: cover;
    }

    .wpo-about-area-4 .about-s2-img {
        padding: 20px;
        background: #fff;
    }

    .wpo-hero-style-5 .slide-caption p {
        font-size: 18px;
    }

    .wpo-protfolio-area-5 .wpo-protfolio-text h2 {
        font-size: 20px;
    }
}

.wpo-protfolio-img img{
    width: 100%;
}

.section-title-4 {
    margin-bottom: 70px;
    position: relative;
}


.section-title-4 h2 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    position: relative;
    color: #121127;
    padding: 10px 0;
    background: #fff;
}

.section-title-4:before {
    position: absolute;
    left: -50%;
    top: 40px;
    width: 200%;
    height: 2px;
    background: #fe3e57;
    content: "";
}


.wpo-protfolio-area-6 .protfolio-btn a {
    color: #333;
}