.wpo-service-wrap {
    overflow: hidden;
}

.wpo-service-icon,
.wpo-service-icon-2,
.wpo-service-icon-3,
.wpo-service-icon-4 {
    float: left;
    background: url('../../images/wpo-service/shape.png') center center/cover no-repeat local;
    width: 200px;
    height: 184px;
    text-align: center;
    line-height: 184px;
    margin-right: 30px;
}

.wpo-service-icon .fi:before,
.wpo-service-icon-2 .fi:before,
.wpo-service-icon-3 .fi:before,
.wpo-service-icon-4 .fi:before {
    color: #233849;
    font-size: 60px;
    margin-left: 20px;
}

.wpo-service-icon-2 {
    background: url('../../images/wpo-service/shape-2.png') center center/cover no-repeat local;
    width: 207px;
    height: 185px;
}

.wpo-service-icon-3 {
    background: url('../../images/wpo-service/shape-3.png') center center/cover no-repeat local;
}

.wpo-service-icon-4 {
    background: url('../../images/wpo-service/shape-4.png') center center/cover no-repeat local;
    width: 209px;
}

.wpo-service-text {
    overflow: hidden;
    margin-left: 30px;
}

.wpo-service-text h2 {
    color: #233849;
    font-size: 30px;
  
    margin-bottom: 15px;
    line-height: 40px;
    margin-top: 0;
    /* max-width: 150px; */
}

.wpo-service-text p {
    color: #233849;
    font-size: 18px;
}

.wpo-service-wrap {
    margin-bottom: 60px;
}

.wpo-service-icon img,
.wpo-service-icon-2 img,
.wpo-service-icon-3 img,
.wpo-service-icon-4 img{
    padding-left: 15px;
}

@media(max-width: 768px) {
    .wpo-service-text h2 {
        line-height: 40px;
        text-align: center;
        /* max-width: 150px; */
    }


    .wpo-service-icon,
    .wpo-service-icon-2,
    .wpo-service-icon-3,
    .wpo-service-icon-4 {
        margin-left: 50px;
       
    }
}
    
@media(max-width: 590px) {
    .wpo-service-text{
        width: 100%;
    }
    .wpo-service-text h2 {
        line-height: 40px;
        
        margin-right: 20px;
        /* max-width: 150px; */
    }


    .wpo-service-icon,
    .wpo-service-icon-2,
    .wpo-service-icon-3,
    .wpo-service-icon-4 {
        margin-left: 65px;
    }
}