
.wpo-blog-area {
    background: #f1f1f1;
}

.wpo-blog-img img {
    border-radius: 5px;
  
}


.wpo-blog-text ul {
    display: flex;
}


.wpo-blog-text h2 {
    font-size: 24px;
    color: #233849;
    line-height: 40px;
    padding-left: 6px;
}

.wpo-blog-text h2 a {
    color: #233849;
    font-weight: 600;
    font-family: 'Conv_Now-Bold';
}

.wpo-blog-text h2 a:hover {
    color: #c8a770;
}

.wpo-blog-text {
    padding-top: 30px;
}

.wpo-blog-text a {
    color: #c8a770;
}

.wpo-blog-text ul li {
    color: #989696;
}

.wpo-blog-text ul li span {
    color: #c8a770;
    display: block;
    padding-right: 5px;
}

@media(max-width: 992px) {
    .wpo-blog-wrap {
        margin-bottom: 50px;
        background: #233849;
        border-radius: 5px;
    }


    .wpo-blog-text{
        border-top: 3px solid #c8a770;
        margin-top: -40px;
        padding: 20px 30px;
        padding-top: 0;
        background: #233849;
        border-radius: 5px;
    }

    .wpo-blog-text h2 a {
        color: #f1f1f1;
       text-decoration: none;
       font-size: 22px;
        line-height: 30px;
    }

    .wpo-blog-area {
        padding-bottom: 10px;
    }

    .wpo-blog-img img {
        width: 100%;
    }

    .wpo-blog-text ul li {
        padding-top: 10px;
        color: #f1f1f1;
    }
}
