.wpo-about-wrap {
    margin-top: 60px;
    margin-left: 30px;
}

.wpo-about-img {
    width: 118%;
    left: -101px;
    position: relative;
}

.wpo-about-img img{
    width: 100%;
}


.wpo-about-text h2 {
    font-size: 50px;
    color: #233849;
    text-align: center;

    margin-bottom: 40px;
}

.wpo-about-text p {
    color:#233849;
    font-size: 19px;
    line-height: 2;
    margin-bottom: 50px;
}


.about-area .nav li a {
    display: block;
    width: 210px;
    height: 55px;
    line-height: 24px;
    text-align: center;
    color: #233849;
    transition: all .5s;
    font-weight: 600;
    margin-right: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.about-area .nav li.active a,
.about-area .nav li:hover a {
    background: transparent;
    border: none;
    border-bottom: 3px solid #c8a770;
    color: #c8a770;
    outline: none;
}

.nav-tabs {
    border-bottom: 1px solid #233849!important;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active{
    background: transparent!important;
    border: none;
    border-bottom: 3px solid #c8a770;
    color: #c8a770!important;
    outline: none;
}

.wpo-award-img {
    margin-bottom: 30px;
}

@media(max-width: 767px) {
    .about-area .nav li a {
        width: 134px;
        font-size: 14px;
    }

    .wpo-about-img {
        margin-bottom: 50px;
        margin-left: 55px;
    }
    
}