
.wpo-service-sidebar .all-wpo-services {
    background-color: #f8f8f8;
    padding: 60px 30px;
}

.wpo-service-sidebar .widget h3 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1em;
    padding-bottom: 17px;
    text-transform: capitalize;
    position: relative;
}

.wpo-service-sidebar .widget h3:after {
    content: "";
    background: url('') center center/auto no-repeat local;
    width: 100px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.wpo-service-sidebar .all-wpo-services ul a {
    margin-top: 15px;
    padding-bottom: 15px;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    color: #666;
}

.wpo-service-sidebar .all-wpo-services ul a:hover,
.wpo-service-sidebar .all-wpo-services ul li.current a {
    color: #c8a770;
}

.wpo-service-sidebar .all-wpo-services ul>li:last-child a {
    border: 0;
    padding: 0;
}

.wpo-service-sidebar>.widget+.widget {
    margin-top: 55px;
}

.wpo-service-sidebar .contact-widget {
    background: #efe6e1;
    padding: 60px 15px;
    text-align: center;
    position: relative;
}

.wpo-service-sidebar .contact-widget h5 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #233849;
    margin: 0;
    margin-bottom: 30px;
}

.wpo-service-sidebar .contact-widget h4 {
    font-size: 35px;
    font-size: 2.1875rem;
    margin: 0.5em 0 0;
    color: #233849;
}

.wpo-p-details-section h4 {
    font-size: 40px;
    color: #233849;
    margin-bottom: 30px;
}

.wpo-p-details-section p:last-child {
    margin-bottom: 0;
}

@media(max-width: 991px) {
    .wpo-service-sidebar {
        margin-bottom: 40px;
    }
}

@media(max-width: 530px) {
    .wpo-service-sidebar .contact-widget h4 {
        font-size: 25px;
    }

    .wpo-service-sidebar .contact-widget h5 {
        font-size: 16px;
    }

    .wpo-p-details-section h4 {
        font-size: 35px;
    }
}